:root{
    --brand-c: #97455f;
    --hov-c: #6a3144;
    --hov1-c: #d2d2d2;
    --para-c: #999999;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 960px;
    margin: 0 auto;
}
/* ===================
    Common CSS Ends
=================== */


/* ===================
    Header CSS Starts
=================== */
#header{
    height: 50px;
    background: #c9a6a6;
}
#header .header-top{
    height: 50px;
    background: #3292d3;
}
/* ===================
    Header CSS Ends
=================== */


/* ===================
     CSS Starts
=================== */
/* ===================
     CSS Ends
=================== */